.carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 33.3333%;
    box-sizing: border-box;
    padding: 50px;
}

.carousel-box {
    background-color: #689b9d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px; 
    height: 150px; 
    border-radius: 5px;
    font-family: Arial, sans-serif; 
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 25px;
    width: 30px; /* Width and height for circle size */
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    border: none; 
    padding: 0; /* No padding */
    border-radius: 50%; /* Rounded shape */
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;

}
